@import "../../assets/styles/globalStyles.scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.Button {
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;

  &.Black {
    color: $black;
  }

  &.White {
    color: $white;
  }

  i {
    transition: all 0.2s ease-out;
  }

  &:hover i {
    color: $emerald;
  }

  @include breakpoint(mobile-lg, min) {
    font-size: 1.5rem;
    flex-basis: 20%;
  }

  @include breakpoint(tablet, min) {
    font-size: 1.8rem;
    flex-basis: 10%;
  }

  @include breakpoint(desktop-lg, min) {
    font-size: 2.2rem;
  }
}
