@import "../../assets/styles/globalStyles.scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.Form {
  @include flex(center, center);
  flex-wrap: wrap;
  width: 100%;

  & .ErrorMessage {
    @include font;
    color: $red;
    margin-top: 1rem;
    width: inherit;
    text-align: center;
  }
}
