@import "../../index.scss";

.Form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & .ErrorMessage {
    color: $red;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: inherit;
    text-align: center;

    @media (min-width: 500px) {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 500px) {
    justify-content: center;
    margin-top: 2rem;
  }
}
