@import "../../assets/styles/globalStyles.scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.Form {
  @include flex(center, center);
  flex-wrap: wrap;
  width: 90%;

  & .ErrorMessage {
    color: $red;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: inherit;
    text-align: center;

    @include breakpoint(mobile-lg, min) {
      font-size: 1.4rem;
    }
  }

  @include breakpoint(mobile-lg, min) {
    justify-content: space-evenly;
  }
}
