@import "../../assets/styles/globalStyles.scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.Input {
  @include font;
  background: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  transition: all 0.2s ease-out;

  &.Black {
    border-bottom: 1px solid $black;
    color: $black;
  }

  &.White {
    border-bottom: 1px solid $white;
    color: $white;
  }

  &:focus {
    border-bottom: 1px solid $emerald;
  }

  &::placeholder {
    color: $gray;
  }

  @include breakpoint(tablet, min) {
    flex-basis: 70%;
  }
}
