@import "../../assets/styles/globalStyles.scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.Input {
  background: transparent;
  border: none;
  border-bottom: 1px solid $black;
  outline: none;
  padding: 1rem;
  transition: all 0.2s ease-out;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    color: $black;
    border-bottom: 1px solid $emerald;
  }

  @include breakpoint(mobile-lg, min) {
    font-size: 1.5rem;
  }

  @include breakpoint(tablet, min) {
    font-size: 1.8rem;
    flex-basis: 70%;
  }

  @include breakpoint(desktop-lg, min) {
    font-size: 2.2rem;
  }
}
