@import "../../assets/styles/globalStyles.scss";
@import "../../assets/styles/variables";

.Wrapper {
  position: relative;
}

.BlackBackground {
  background-color: $black;
}

.WhiteBackground {
  background-color: $white;
}
